<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>La familia</h1>
    <h4>Padre</h4>
    Su nombre completo: {{familiar_1.nombre}} {{familiar_1.apellido}} 
    <br>
    Su dirección de correo electronico: {{familiar_1.email}}
    <br>
    Su altura es de: {{familiar_1.altura}} 
    <br>
    Su fecha de nacimiento es : {{familiar_1.fecha_nacimiento}} 
    <br>

    <h4>Madre</h4>
    Su nombre completo: {{familiar_2.nombre}} {{familiar_2.apellido}} 
    <br>
    Su dirección de correo electronico: {{familiar_2.email}}
    <br>
    Su altura es de: {{familiar_2.altura}} 
    <br>
    Su fecha de nacimiento es : {{familiar_2.fecha_nacimiento}} 
    <br> 
   
    <h4>Hermano</h4>
    Su nombre completo: {{familiar_3.nombre}} {{familiar_3.apellido}} 
    <br>
    Su dirección de correo electronico: {{familiar_3.email}}
    <br>
    Su altura es de: {{familiar_3.altura}} 
    <br>
    Su fecha de nacimiento es : {{familiar_3.fecha_nacimiento}} 
    <br> 
    <h4>Hermana</h4>
    Su nombre completo: {{familiar_4.nombre}} {{familiar_4.apellido}} 
    <br>
    Su dirección de correo electronico: {{familiar_4.email}}
    <br>
    Su altura es de: {{familiar_4.altura}} 
    <br>
    Su fecha de nacimiento es : {{familiar_4.fecha_nacimiento}} 
    <br>  
</body>
</html>